body {
    background-image: linear-gradient( 
        180deg,
        #9f64ed  5% , 
        #4d2bb3  20% ,
        #7f008b  60% , 
        #3f00d1  95%
    );
    margin: 0%;
    min-height: 100vh;
    width: 100%;
}

main{
    align-items: center;
    display: flex;
    height: 100%;
    justify-content: center;
    position: relative;
}

main > section img {
    height: 500px;
    margin: 15px 0;
    width: 400px;
    
}

main > section button {
    background-color: #00FF00;
    border: rgb(26, 26, 124);
    border-radius: 50px;
    color: black;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 30px;
    text-transform: uppercase;
}

#detalhes-container {
    font-weight: bold;
    list-style-type: none;
    height: 200px;
    margin: 15 5px;
    width: 400px;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 30px;
    text-transform: uppercase;    
}
#detalhes-container2 {
    font-weight: bold;
    list-style-type: none;
    height: 200px;
    margin: 15px 5;
    width: 400px;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 30px;
    text-transform: uppercase;
}

#detalhes-container3 {
    font-weight: bold;
    list-style-type: none;
    height: 200px;
    margin: 15px 5;
    width: 400px;
    font-family: "Audiowide", sans-serif;
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -0.6px;
    line-height: 30px;
    text-transform: uppercase;
}

#detalhes-container > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container > li p {
    color: white;
}

#detalhes-container2 > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container2 > li p {
    color: white;
}

#detalhes-container3 > li {
    align-items: baseline;
    display: flex;
}

#detalhes-container3 > li p {
    color: white;
}
